<div data-options="dxView : { name: 'Searchsurname', title: 'Поиск по фамилии' } ">
    <div class="form" data-options="dxContent : { targetPlaceholder: 'content' } ">
        <div class="content" data-bind="dxScrollView: { }">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Фамилия</div>
                    <div class="dx-field-value">
                        <div data-bind="dxTextBox: { placeholder: 'Фамилия' }"></div>
                    </div>
                </div>
            </div>

            <div class="dx-fieldset button">
                <div class="dx-field">
                    <div class="dx-field-value">
                        <div data-bind="dxButton: {text: 'Поиск участковых'}"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
